html {
    background-color: black;
    color: white;

    font-family: SFProNormal;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1080px;

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}


/* ----- NAVBAR ----- */

.navBar {
    position: fixed;
    top: 0;

    height: 60px;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    border-bottom: 2px solid transparent;
}

.navLinks {
    display: flex;
    flex-direction: row;
}

.navLink {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.5s all ease;
}

.navLink:hover {
    border-bottom: 2px solid white;
}

.navLinkActive {
    border-bottom: 2px solid white;
}

/* ----- CONTENT ----- */
.content {
    margin-top: 80px;
}

/* FONTS */
@font-face {
    font-family: SFProLight;
    src: url(./font/SF-Pro.ttf);
    font-weight: 100;
}

@font-face {
    font-family: SFProNormal;
    src: url(./font/SF-Pro.ttf);
    font-weight: 400;
}

@font-face {
    font-family: SFProBold;
    src: url(./font/SF-Pro.ttf);
    font-weight: 800;
}

/* FORMATS */
p {
    margin: 0;
}